
build.bat
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.classpath
target/RoleplayFamily-1.0.jar
target/RoleplayFamily-1.0-shaded.jar
target/original-RoleplayFamily-1.0.jar
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/classes/plugin.yml
target/classes/me/angelfire/rpfamily/utils/FileUtils.class
target/classes/me/angelfire/rpfamily/RpFamily.class
target/classes/me/angelfire/rpfamily/Profile.class
target/classes/me/angelfire/rpfamily/json/ProfileSerializationManager.class
target/classes/me/angelfire/rpfamily/json/GsonSerializable.class
target/classes/me/angelfire/rpfamily/commands/Rpf.class
